body{ 
	text-align: center; 
	background: #00ECB9; 
    font-weight: 100; 
} 
h1{ 
   /* color: #396; */
    font-weight: 100; 
    font-size: 40px; 
    margin: 40px 0px 20px; 
} 
#clockdiv{ 
	/*font-family: sans-serif; */
	color: #fff; 
	display: inline-block; 
	font-weight: 100; 
	text-align: center; 
	font-size: 30px; 
    padding-bottom: 100px;
    padding-top: 50px;
} 
#clockdiv > div{ 
	padding: 10px; 
	border-radius: 3px; 
	display: inline-block; 
    width: 155px;
    margin: 2px;
    border-radius: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.6);
} 
#clockdiv div > span{ 
	font-family: Poppins-Black;
    font-size: 80px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
} 
smalltext{ 
	padding-top: 5px; 
	font-size: 16px; 
} 